.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    width: 642px;
    height: 74px;
    top: calc(50% - 74px/2 - 239px);
    /* Gray */
    background: #F2F4F8;
    border-radius: 12px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 20px 0px;
    margin-left: 24px;
    box-sizing: border-box;
}

.searchBar:focus-within {
    box-shadow: 0 0 0 3px #6833FF;
}

.searchIcon {
    padding-left: 24px;
}

.inputBar {
    height: 26px;
    width: 560px;
    margin-left: 14px;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    background: #F2F4F8;
    outline: none;
    color: #000000;
}